{% extends "base.html" %}

{% block header %}
    <h1>INFO802 - Marketplace</h1>
{% endblock %}

{% block content %}
    <h2>Sign up</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.fn.label }}<br>
            {{ form.fn(size=32) }}
        </p>
        <p>
            {{ form.ln.label }}<br>
            {{ form.ln(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% if error %}
    <div>{{ error }}</div>
    {% endif%}
{% endblock %}